@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

}

.list-images::-webkit-scrollbar {
  width: 0 !important
}

.list-images {
  overflow: -moz-srollbars-none;
}
