@tailwind base;
@tailwind components;
@tailwind utilities;

.list-images::-webkit-scrollbar {
  width: 0 !important
}

.list-images {
  overflow: -moz-srollbars-none;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}